body{
    background-color: rgb(95, 206, 250);    
}

.header-bar{
    border: 2px solid red;
    padding: 3vh 0 3vh 0;
    text-align: center;
    background-color: whitesmoke;
}


a:link{
    text-decoration: none!important;
    color: red;
    text-shadow: 1px -2px blue;
}