<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./Styles/Game.css">
   

    <title>American Defense III</title>

</head>

<body>
    <div class="d-flex justify-content-center centered">
        <canvas id="myCanvas" height="600px" width="978px"></canvas>

        <div id="Menu">
            <div id="Pause">New Game</div>
            <div id="howto">(Use Mouse To Move. Press Spacebar To Fire!!)</div>
            <a id="code-link" href="/">Home</a>       
        </div>    
        <div id="score">Score: 0</div>
        <div id="highscore">High Score: <a id="highScore">0</a></div>
    </div>
</body>
    <script src="../GameObjects/Ship.js"></script>
    <script src="../GameObjects/Enemies.js"></script>
    <script src="../GameObjects/Projectile.js"></script>
    <script src="../Controllers/Game.js"></script>
</html>